html,body::before{
	background: url("bg.jpg") 0/cover fixed;
}
body{
	position:relative;
	background: hsla(0,0%,100%,3);
	overflow: hidden;
}
body::before{
	content:'';
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-filter: blur(20px); /* Chrome, Opera */
       -moz-filter: blur(20px);
        -ms-filter: blur(20px);    
            filter: blur(20px);
      margin: -30px;
}