@charset "UTF-8";
// ===========================================================================
//  定义排版样式
//  字体排版规则
// ===========================================================================
h1, h2, h3, h4, h5, h6{
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}
h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }
p ,
pre,
ol,
ul,
dl {
  margin-bottom: $spacer;
}
hr{
    margin-top:$spacer;
    margin-bottom:$spacer;
    height: .05rem;
    background-color:currentColor;
}
blockquote {
    padding: ($spacer / 2) $spacer;
    margin: 0 0 $spacer;
    border-left: $blockquote-border-width solid $blockquote-border-color;
    p,
    ul,
    ol {
    &:last-child {
        margin-bottom: 0;
    }
    }
}
