@charset "UTF-8";
// ===========================================================================
//  按钮组件
//  
// ===========================================================================
@mixin button-common-att(){
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;//允许手势水平/垂直平移或持续的缩放
	cursor: pointer;
	white-space: nowrap;
}
button{
	padding:.3rem .8rem;
	border: 1px solid rgba(0,0,0,.1);
	background: #58a linear-gradient(hsla(0,0%,100%,.2) , transparent);
	//推荐使用HSLA而不是RGBA来产生半透明的白色，因为它的字符更短；
	border-radius:.2rem;
	box-shadow:0 .05rem .25rem rgba(0,0,0,.5);
	color:  white;
	text-shadow: 0 -.05rem .05rem rgba(0,0,0,.5);
	font-size:1rem;
	line-height:1.5;
	transition: background-color .25s;
	@include button-common-att(); 
	&:active,
	&.active{
		padding-top:.3rem + .05rem;
		padding-bottom:.3rem - .05rem;
		background-image: linear-gradient( transparent, hsla(0,0%,100%,.2))
	}
	&:hover,
	&:active,
	&.active,
	&:focus,
	&.focus{
	background-color:darken(#58a, 3%)
	}
	&.ok{
		background-color:#6b0;
		&:hover,
		&:active,
		&.active,
		&:focus,
		&.focus{
		background-color:darken(#6b0, 3%)
		}
	}
	&.cancel{
		background-color:#c00;
		&:hover,
		&:active,
		&.active,
		&:focus,
		&.focus{
		background-color:darken(#c00, 3%)
		}
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus {
			cursor: not-allowed;
			filter: alpha(opacity=65);
			box-shadow: none;
			opacity: .65;
		}
	}

}
