@charset "UTF-8";
// ===========================================================================
//  全局变量
//  将参数、颜色、字体、数字的变量统一放在此处方便管理;
// ===========================================================================

//===========================================================================
//间距引擎设置，spacers可用map方法来获取和设置。
//===========================================================================
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  )
) !default;

//===========================================================================
//整体设置
//===========================================================================
$reset-import :           false !default; //是否引入强制重置样式;
$normal-reset:           ture !default; //自定义重置样式;（很多设置会与reset相似，但更自主控制）;
$ratio-font-size:          false!default;//是否整体比例设置字体;设置html字体大小为62.5%;
$rem-font-size:           16px!default;//为html设置字体大小，以便用rem计算大小；
$font-size-base:          1rem !default;//整体默认字体大小；
$box-sizing-value:        border-box;//整体盒子模型属性;
$body-bg:               #fff !default;//整体背景颜色；
$text-color:            #222 !default;//默认字体整体颜色；
$border-corol:          #eee !default;//默认边框颜色；
//标题的基础设置
$headings-margin-bottom:  ($spacer / 2) !default;
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;


// ===========================================================================
//  字体设置
// ===========================================================================
//字体类型
$georgia: Georgia, Cambria, "Times New Roman", Times, serif !default;
$helvetica: "Helvetica Neue",Helvetica, Roboto, Arial, sans-serif !default;
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif !default;
$monospace: "Bitstream Vera Sans Mono", Monaco, "Courier New", Consolas, Courier, monospace !default;
$verdana: Verdana, Geneva, sans-serif !default;
$arial: Arial, Helvetica, sans-serif  !default;
$normal-font:"My Helvetica Neue","Microsoft YaHei",Helvetica !default;
$source-sans-pro:"Source Sans Pro","Helvetica Neue","Microsoft YaHei",Helvetica,Arial,sans-serif !default;

// 默认的中英文字体（正文字体）
$zh-font: "Microsoft YaHei", 微软雅黑, "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$en-font: $helvetica;
$font: $zh-font;

// 标题字体
$title-font: $georgia;

// 文章内容的字体
$article-font: $verdana;

//字体大小
$font-size-lg:   1.25rem !default;//~20px;
$font-size-sm:   .875rem !default;//~14px;
$font-size-xs:   .75rem !default;//~12px;

$font-size-h1: 2.5rem !default;//~40px;
$font-size-h2: 2rem !default;//~32px;
$font-size-h3: 1.75rem !default;//~28px;
$font-size-h4: 1.5rem !default;//~24px;
$font-size-h5: 1.25rem !default;//~20px;
$font-size-h6: 1rem !default;//16px;

//=========================================================================
//行高设置
//=========================================================================
$line-height-base:        1.5 !default; // 24/16


//===========================================================================
//边框
//===========================================================================
$blockquote-border-color: #ddd !default;//引用的边框颜色；
$blockquote-border-width: .25rem !default;//引用的边框大小
