.content{
    a{
        color: #4183C4;
        text-decoration:none;
        &:hover,&:active,&:focus{
            color: darken(#4183C4, 3%);
        }
    }
    ul{
        padding-left:2rem;
        list-style-type:circle;
    }
    ol{
        padding-left:2rem;
        list-style-type:lower-roman;
    }
    img{
        max-width: 90%;
        margin:0 auto;
        margin-bottom:1rem;
    }
}
p.ds-powered-by{
    visibility:hidden;
}
