@charset "UTF-8";
//=============================================================================
//整体布局
//=============================================================================
.webpage-wrapper{
    width: 100%;
    min-height: 100%;
    position: static;
    overflow: hidden;
    background-color: #fafafa;
    @include clearfix;
}
.container{
    margin:0 auto;
    max-width:75rem;//1200px
    width: 100%;
    position:relative;
}
